In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [4]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [5]:
rdd = sc.textFile("s3://msbx5420-2020/team-blanca-peak/yellow_tripdata_2019-01.csv")

yellow_tripdata_2019-01.csv MapPartitionsRDD[1] at textFile at <unknown>:0

In [6]:
rdd.take(10)

['VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge',
 '1,1/1/2019 0:46,1/1/2019 0:53,1,1.5,1,N,151,239,1,7,0.5,0.5,1.65,0,0.3,9.95,',
 '1,1/1/2019 0:59,1/1/2019 1:18,1,2.6,1,N,239,246,1,14,0.5,0.5,1,0,0.3,16.3,',
 '2,12/21/2018 13:48,12/21/2018 13:52,3,0,1,N,236,236,1,4.5,0.5,0.5,0,0,0.3,5.8,',
 '2,11/28/2018 15:52,11/28/2018 15:55,5,0,1,N,193,193,2,3.5,0.5,0.5,0,0,0.3,7.55,',
 '2,11/28/2018 15:56,11/28/2018 15:58,5,0,2,N,193,193,2,52,0,0.5,0,0,0.3,55.55,',
 '2,11/28/2018 16:25,11/28/2018 16:28,5,0,1,N,193,193,2,3.5,0.5,0.5,0,5.76,0.3,13.31,',
 '2,11/28/2018 16:29,11/28/2018 16:33,5,0,2,N,193,193,2,52,0,0.5,0,0,0.3,55.55,',
 '1,1/1/2019 0:21,1/1/2019 0:28,1,1.3,1,N,163,229,1,6.5,0.5,0.5,1.25,0,0.3,9.05,',
 '1,1/1/2019 0:32,1/1/2019 0:45,1,3.7,1,N,229,7,1,13.5,0.5,0.5,3.7,0,0.3,18.5,']

df_write = rdd.\
    map(lambda x: x.split(",")).toDF()
df_write.show(5)

In [90]:
import pandas as pd

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

# Convert the Spark DataFrame back to a pandas DataFrame using Arrow
result_pdf = df_new.select("*").toPandas()
result_pdf.head()

,DOLocationID,PULocationID,RatecodeID,VendorID,congestion_surcharge,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance
0,DOLocationID,PULocationID,RatecodeID,VendorID,congestion_surcharge,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance
1,239,151,1,1,,0.5,7,0.3,0.5,1,1,N,1.65,0,9.95,1/1/2019 0:53,1/1/2019 0:46,1.5
2,246,239,1,1,,0.5,14,0.3,0.5,1,1,N,1,0,16.3,1/1/2019 1:18,1/1/2019 0:59,2.6
3,236,236,1,2,,0.5,4.5,0.3,0.5,3,1,N,0,0,5.8,12/21/2018 13:52,12/21/2018 13:48,0
4,193,193,1,2,,0.5,3.5,0.3,0.5,5,2,N,0,0,7.55,11/28/2018 15:55,11/28/2018 15:52,0

In [8]:
#Register the people df as a table
df.registerTempTable("taxi")
#Perform SQL Query
taxi = spark.sql("SELECT * FROM taxi")
taxi.show(5)

+------------+------------+----------+--------+--------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|DOLocationID|PULocationID|RatecodeID|VendorID|congestion_surcharge|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|
+------------+------------+----------+--------+--------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
|DOLocationID|PULocationID|RatecodeID|VendorID|congestion_surcharge|extra|fare_amount| improvement_surch...|mta_tax|passenger_count|payment_type|store_and_fwd_flag|tip_amount|tolls_amount|total_amount| tpep_dropoff_date...|tpep_pickup_datetime|trip_distance|
|         239|         151|         1|       1|                    |  0.5|          7|                  0.3|    0.5|              1|           1|                 N|      1.65|           0|        9.95|        1/1/2019 0:53|       1/1/2019 0:46|          1.5|
|         246|         239|         1|       1|                    |  0.5|         14|                  0.3|    0.5|              1|           1|                 N|         1|           0|        16.3|        1/1/2019 1:18|       1/1/2019 0:59|          2.6|
|         236|         236|         1|       2|                    |  0.5|        4.5|                  0.3|    0.5|              3|           1|                 N|         0|           0|         5.8|     12/21/2018 13:52|    12/21/2018 13:48|            0|
|         193|         193|         1|       2|                    |  0.5|        3.5|                  0.3|    0.5|              5|           2|                 N|         0|           0|        7.55|     11/28/2018 15:55|    11/28/2018 15:52|            0|
+------------+------------+----------+--------+--------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+
only showing top 5 rows

In [9]:
taxi = taxi.na.fill(0)

In [10]:
taxi.dtypes

[('DOLocationID', 'string'),
 ('PULocationID', 'string'),
 ('RatecodeID', 'string'),
 ('VendorID', 'string'),
 ('congestion_surcharge', 'string'),
 ('extra', 'string'),
 ('fare_amount', 'string'),
 ('improvement_surcharge', 'string'),
 ('mta_tax', 'string'),
 ('passenger_count', 'string'),
 ('payment_type', 'string'),
 ('store_and_fwd_flag', 'string'),
 ('tip_amount', 'string'),
 ('tolls_amount', 'string'),
 ('total_amount', 'string'),
 ('tpep_dropoff_datetime', 'string'),
 ('tpep_pickup_datetime', 'string'),
 ('trip_distance', 'string')]

In [11]:
taxi.count()

1048576

In [12]:
taxi = spark.sql("SELECT DOLocationID,PULocationID,VendorID,extra,fare_amount,\
                 passenger_count,payment_type,tolls_amount,\
                 total_amount,trip_distance,tip_amount,'tip' FROM taxi")
taxi.show(5)

+------------+------------+--------+-----+-----------+---------------+------------+------------+------------+-------------+----------+---+
|DOLocationID|PULocationID|VendorID|extra|fare_amount|passenger_count|payment_type|tolls_amount|total_amount|trip_distance|tip_amount|tip|
+------------+------------+--------+-----+-----------+---------------+------------+------------+------------+-------------+----------+---+
|DOLocationID|PULocationID|VendorID|extra|fare_amount|passenger_count|payment_type|tolls_amount|total_amount|trip_distance|tip_amount|tip|
|         239|         151|       1|  0.5|          7|              1|           1|           0|        9.95|          1.5|      1.65|tip|
|         246|         239|       1|  0.5|         14|              1|           1|           0|        16.3|          2.6|         1|tip|
|         236|         236|       2|  0.5|        4.5|              3|           1|           0|         5.8|            0|         0|tip|
|         193|         193|       2|  0.5|        3.5|              5|           2|           0|        7.55|            0|         0|tip|
+------------+------------+--------+-----+-----------+---------------+------------+------------+------------+-------------+----------+---+
only showing top 5 rows

In [13]:
import pyspark.sql.functions as sf
taxi = taxi.withColumn('tip', sf.when(sf.col('tip_amount') > 0, 1).otherwise(0))
taxi = taxi.drop('tip_amount')
taxi.show(5)

+------------+------------+--------+-----+-----------+---------------+------------+------------+------------+-------------+---+
|DOLocationID|PULocationID|VendorID|extra|fare_amount|passenger_count|payment_type|tolls_amount|total_amount|trip_distance|tip|
+------------+------------+--------+-----+-----------+---------------+------------+------------+------------+-------------+---+
|DOLocationID|PULocationID|VendorID|extra|fare_amount|passenger_count|payment_type|tolls_amount|total_amount|trip_distance|  0|
|         239|         151|       1|  0.5|          7|              1|           1|           0|        9.95|          1.5|  1|
|         246|         239|       1|  0.5|         14|              1|           1|           0|        16.3|          2.6|  1|
|         236|         236|       2|  0.5|        4.5|              3|           1|           0|         5.8|            0|  0|
|         193|         193|       2|  0.5|        3.5|              5|           2|           0|        7.55|            0|  0|
+------------+------------+--------+-----+-----------+---------------+------------+------------+------------+-------------+---+
only showing top 5 rows

In [14]:
#taxi.na.drop(subset=taxi.columns)

In [15]:
taxi.columns

['DOLocationID',
 'PULocationID',
 'VendorID',
 'extra',
 'fare_amount',
 'passenger_count',
 'payment_type',
 'tolls_amount',
 'total_amount',
 'trip_distance',
 'tip']

In [16]:
#from pyspark.sql.functions import col
#taxi = taxi.select(*(col(c).cast("float").alias(c) for c in taxi.columns))

In [17]:
#taxi.dtypes

In [18]:
#cols = ['DOLocationID', 'PULocationID', 'VendorID', 
 #                                              'extra', 'fare_amount', 'passenger_count', 'payment_type', 'tolls_amount', 
  #                                             'total_amount', 'trip_distance']

In [19]:
#taxi.fillna(0, subset=cols)

In [20]:
#taxi.fillna(0, subset=['tip_amount'])

In [22]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline

categorical_columns = taxi.columns[:-1]
categorical_columns

['DOLocationID',
 'PULocationID',
 'VendorID',
 'extra',
 'fare_amount',
 'passenger_count',
 'payment_type',
 'tolls_amount',
 'total_amount',
 'trip_distance']

In [23]:
stringindexer_stages = [StringIndexer(inputCol=c, outputCol='stringindexed_' + c) for c in categorical_columns]
# encode label column and add it to stringindexer stages
stringindexer_stages += [StringIndexer(inputCol='tip', outputCol='label')]

In [24]:
onehotencoder_stages = [OneHotEncoder(inputCol='stringindexed_' + c, outputCol='onehot_'+c) for c in categorical_columns]

In [25]:
feature_columns = ['onehot_' + c for c in categorical_columns]
vectorassembler_stage = VectorAssembler(inputCols=feature_columns, outputCol='features')

In [26]:
all_stages = stringindexer_stages + onehotencoder_stages + [vectorassembler_stage]
pipeline = Pipeline(stages=all_stages)

In [27]:
pipeline_model = pipeline.fit(taxi)

In [28]:
final_columns = feature_columns + ['features', 'label']
taxi_df = pipeline_model.transform(taxi).select(final_columns)
#taxi_df.show(5)

In [29]:
train, test = taxi_df.randomSplit([0.8, 0.2], seed=1234)

In [30]:
from pyspark.ml.classification import RandomForestClassifier

random_forest = RandomForestClassifier(featuresCol='features', labelCol='label')

In [31]:
from pyspark.ml.tuning import ParamGridBuilder

param_grid = ParamGridBuilder().\
    addGrid(random_forest.maxDepth, [2, 3, 4]).\
    addGrid(random_forest.minInfoGain, [0.0, 0.1, 0.2, 0.3]).\
    build()

In [32]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

evaluator = BinaryClassificationEvaluator()

In [33]:
from pyspark.ml.tuning import CrossValidator

crossvalidation = CrossValidator(estimator=random_forest, estimatorParamMaps=param_grid, evaluator=evaluator)

In [34]:
crossvalidation_mod = crossvalidation.fit(taxi_df)

In [35]:
pred_test = crossvalidation_mod.transform(test)
pred_test.show(5)

+-------------------+-------------------+---------------+--------------+------------------+----------------------+-------------------+-------------------+-------------------+--------------------+--------------------+-----+--------------------+--------------------+----------+
|onehot_DOLocationID|onehot_PULocationID|onehot_VendorID|  onehot_extra|onehot_fare_amount|onehot_passenger_count|onehot_payment_type|onehot_tolls_amount|onehot_total_amount|onehot_trip_distance|            features|label|       rawPrediction|         probability|prediction|
+-------------------+-------------------+---------------+--------------+------------------+----------------------+-------------------+-------------------+-------------------+--------------------+--------------------+-----+--------------------+--------------------+----------+
|    (260,[0],[1.0])|    (253,[0],[1.0])|  (3,[0],[1.0])|(18,[0],[1.0])|  (3035,[0],[1.0])|        (10,[0],[1.0])|      (4,[1],[1.0])|    (347,[0],[1.0])|   (6965,[5],[1.0])|   (3237,[77],[1.0])|(14132,[0,260,513...|  1.0|[8.39496193125127...|[0.41974809656256...|       1.0|
|    (260,[0],[1.0])|    (253,[0],[1.0])|  (3,[0],[1.0])|(18,[0],[1.0])|  (3035,[1],[1.0])|        (10,[1],[1.0])|      (4,[1],[1.0])|    (347,[0],[1.0])|   (6965,[0],[1.0])|  (3237,[100],[1.0])|(14132,[0,260,513...|  1.0|[8.88123551998036...|[0.44406177599901...|       1.0|
|    (260,[0],[1.0])|    (253,[0],[1.0])|  (3,[0],[1.0])|(18,[0],[1.0])|  (3035,[2],[1.0])|        (10,[0],[1.0])|      (4,[0],[1.0])|    (347,[0],[1.0])|  (6965,[14],[1.0])|    (3237,[7],[1.0])|(14132,[0,260,513...|  0.0|[13.4796966038858...|[0.67398483019429...|       0.0|
|    (260,[0],[1.0])|    (253,[0],[1.0])|  (3,[0],[1.0])|(18,[0],[1.0])|  (3035,[4],[1.0])|        (10,[0],[1.0])|      (4,[0],[1.0])|    (347,[0],[1.0])|  (6965,[17],[1.0])|  (3237,[126],[1.0])|(14132,[0,260,513...|  0.0|[13.3542180773504...|[0.66771090386752...|       0.0|
|    (260,[0],[1.0])|    (253,[0],[1.0])|  (3,[0],[1.0])|(18,[0],[1.0])|  (3035,[5],[1.0])|        (10,[0],[1.0])|      (4,[0],[1.0])|    (347,[0],[1.0])|  (6965,[79],[1.0])|  (3237,[113],[1.0])|(14132,[0,260,513...|  0.0|[13.3542180773504...|[0.66771090386752...|       0.0|
+-------------------+-------------------+---------------+--------------+------------------+----------------------+-------------------+-------------------+-------------------+--------------------+--------------------+-----+--------------------+--------------------+----------+
only showing top 5 rows

In [38]:
label_pred_test = pred_test.select('label', 'prediction')
label_pred_test.rdd.zipWithIndex().countByKey()

defaultdict(int,
            {Row(label=1.0, prediction=1.0): 71065,
             Row(label=0.0, prediction=0.0): 123914,
             Row(label=1.0, prediction=0.0): 14713,
             Row(label=0.0, prediction=1.0): 11})

In [36]:
print('Accuracy : ', evaluator.setMetricName('areaUnderROC').evaluate(pred_test))

Accuracy :  0.949336736230964

In [37]:
#print('Precision : ', evaluator.setMetricName('areaUnderPR').evaluate(pred_test))

Precision :  0.9582574636676763

In [ ]:
print('Precision : ', evaluator.setMetricName('precision').evaluate(pred_test))

In [ ]:
from FeatureImportanceSelector import ExtractFeatureImp, FeatureImpSelector

bestPipeline = crossvalidation_mod.bestModel
bestModel = bestPipeline.stages[1]

importances = bestModel.featureImportances

x_values = list(range(len(importances)))

plt.bar(x_values, importances, orientation = 'vertical')
plt.xticks(x_values, feature_list, rotation=40)
plt.ylabel('Importance')
plt.xlabel('Feature')
plt.title('Feature Importances')

In [ ]:
#predictionAndLabels = result.select("prediction", "label")
#evaluator = MulticlassClassificationEvaluator(metricName="precision")
#print("Precision:" + str(evaluator.evaluate(predictionAndLabels)))